{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s' class='dt-published'>%s</span>" (.Date) (.Date | time.Format
(default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if not .Lastmod.IsZero | and (ne .Lastmod .Date) -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s' class='dt-updated' style='display:none'>%s</span>" (.Lastmod)
(.Lastmod | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min"
.ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words"
.WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $authorName := . }}
{{- $authorPhoto := "" }}
{{- $authorPage := site.GetPage (printf "/authors/%s" ($authorName | urlize)) }}
{{- if $authorPage }}
{{- $photo := $authorPage.Resources.GetMatch $authorPage.Params.photo }}
{{- if $photo }}
{{- $authorPhoto = $photo.Permalink }}
{{- else if $authorPage.Params.photo }}
{{- $authorPhoto = $authorPage.Params.photo | absURL }}
{{- end }}
{{- end }}

{{- if $authorPhoto }}
{{- $scratch.Add "meta" (slice (printf "<span class='p-author h-card'>%s<img class='u-photo' src='%s' alt='%s'
        style='display:none' hidden></span>" $authorName $authorPhoto $authorName)) }}
{{- else }}
{{- $scratch.Add "meta" (slice (printf "<span class='p-author h-card'>%s</span>" $authorName)) }}
{{- end }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
